.af-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   width: 100%;
   max-width: 400px;
   padding: 2rem;
   border-radius: 8px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(10px);
   background-color: rgba(255, 255, 255, 0.1);
 }
 
 /* Assuming .form-group is used and you want to keep it generic */
 .form-group label {
   margin-bottom: 5px;
   font-weight: bold;
 }
 
 .form-group input[type="text"],
 .form-group input[type="date"],
 .form-group input[type="time"],
 .form-group input[type="email"],
 .form-group textarea {
   padding: 8px;
   margin-bottom: 10px; /* Adjust spacing as needed */
   border: 1px solid #2E0A0A; /* Adjust color as needed */
   border-radius: 9px;
   font-size: 14px;
   width: 100%; /* Ensure inputs take full width */
 }
 
 /* Styles for the submit button */
 .form-group input[type="submit"] {
   padding: 10px 15px;
   border: none;
   border-radius: 4px;
   background-color: #00BDE3;
   color: white;
   cursor: pointer;
   font-size: 14px;
   width: auto; /* Adjust based on preference */
 }
 
 .form-group input[type="submit"]:hover {
   color: #0B0070;
   background-color: #1CBED7;
   transition: background-color 0.2s;
 }
 